.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.stateContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.loginContainer {
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #0000001a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loginSecondContainer {
  box-shadow: 0px 3px 6px #0000001a;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.loginSecondContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 40px;
  padding-bottom: 70px;
}

.forgetPass {
  color: '#4a4a4a';
  margin-left: auto;
  margin-bottom: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services {
  text-decoration: underline;
}

.services:hover {
  cursor: pointer;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.backDrop {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  border-radius: 4px;
  padding: 20px;
  max-width: 1058px;
  width: 80%;
  padding-top: 40px;
  padding-left: 60px;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modalContent p {
  color: #4a4a4a;
}

.modalCloseButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modalCloseButton {
  background-color: transparent;
  border: 1px solid #ababab;
  border-radius: 4px;
  height: 48px;
  width: 193px;
  cursor: pointer;
}

.labelStyle {
  color: '#4a4a4a';
  font: normal normal 300 16px/25px Poppins;
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.inputStyle {
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  width: 21.5rem;
  height: 1.3rem;
  padding: 1rem;
}

.inputStyle:focus {
  border: none;
}

.createButton {
  color: white;
  border: none;
  background: #3a0ca3 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  opacity: 1;
  width: 151px;
  height: 43px;
  /* text-align: left; */
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
}

.createButton:hover {
  cursor: pointer;
}

.signupButton {
  width: 100%;
  height: 3.2rem;
  background-color: #f72585;
  color: white;
  border: none;
  border-radius: 4px;
}

.signupButton:hover {
  cursor: pointer;
}

.signupButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.formStyle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 18px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.titlePara {
  font: normal normal 300 16px/25px Poppins;
  letter-spacing: 0px;
  color: #4a4a4a;
}

.termsServices {
  max-width: 460px;
  text-align: center;
  font: normal normal 300 16px/25px Poppins;
  letter-spacing: 0px;
  color: #4a4a4a;
}

.loginContent {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.continueButton {
  width: 100%;
  height: 3.2rem;
  background-color: #f72585;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
}

.continueButton:hover {
  cursor: pointer;
}

.continueButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.servicesContainer {
  margin-top: auto;
}
