.container {
  width: 100%;
  height: 100%;
  border-right: 1px solid #f72585;
  box-shadow: 0px 3px 6px #00000029;
  overflow: hidden;
}

.divContainer {
  position: relative;
  padding: 26px;
}

.iconAgenda {
  color: #3a0ca3;
  font: normal normal bold 16px/26px Poppins;
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 225px;
  /* height: 49px; */
  margin-bottom: 60px;
}

.calendar {
  height: 2.28rem;
  width: 2.28rem;
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  max-width: 300px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #92929257;
}

.welcome {
  color: #4a4a4a;
  font: normal normal 300 16px/26px Poppins;
}

.userName {
  font: normal normal bold 16px/26px Poppins;
  color: #f72585;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myAgenda {
  border: none;
  border-radius: 4px;
  color: #3a0ca3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  padding: 10px;
  gap: 0.5rem;
  width: 244px;
  height: 46px;
  font: normal normal normal 16px/25px Poppins;
}

.agendar {
  border: none;
  border-radius: 4px;
  color: #3a0ca3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  padding: 10px;
  gap: 0.5rem;
  width: 244px;
  height: 46px;
  font: normal normal normal 16px/25px Poppins;
}

.folderIcon {
  height: 19px;
  width: 28px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 25px;
  height: 20px;
}

.arrowMenu {
  position: absolute;
  left: 20;
  top: 60%;
  background-color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f72585;
  border-radius: 4px;
  padding: 15px;
}

.profileButton {
  background-color: white;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
