.container {
  display: grid;
  grid-template-columns: 279px calc(100vw - 360px);
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
}
